.previous-transaction-div {
    position: relative;
    left:0vh;
    margin-top: 1vh;
    width: 100%;
    height: 25vh;
    // outline: 0px;
    z-index: 1000;
    overflow-y: scroll;
}

.previous-transaction-table {
    width: 100%;
    border-collapse: collapse;
}
