.modal {
    left: '50%';
    right: 'auto';
    bottom: 'auto';
    margin-right: '-50%';
    transform: 'translate(-50%, -50%)';
    z-index: 1000;
}

.modal-close-div {
    position: relative;
    padding-bottom: 2vh;
    :hover {
        cursor: pointer;
    }
}

.modal-header-div {
    position: relative;
    // display: inline-block;
    float: left;

}

.modal-body {
    position: relative;
    margin-top: 0vh;
}

.modal-close {
    :hover {
        cursor: pointer;
    }
    position: absolute;
    // display: inline-block;
    margin-top: -1vh;
    top: auto;
    left: 90%;
    right:85.5%;
    height: 4vh;
    width: 4vh;
    float:left;
}

.button-table {
    position: relative;
    height: 7.5vh;
    width: 7.5vw;
}